@using GunNGoneBetter_Models
@model GunNGoneBetter_Models.ViewModels.DetailsViewModel
@using GunNGoneBetter_Utility

<form method="post" asp-action="DetailsPost">

    <p>
        <input asp-for="Product.Id" hidden />
    </p>

<p>
    <h2>@Model.Product.Name</h2>

    <h2>@Model.Product.Price</h2>
</p>

<p>
    <img src="@PathManager.ImageProductPath@Model.Product.Image" width="200"/>
</p>

<p>
    <h3>@Model.Product.Category.Name</h3>
</p>

<p>
    @Html.Raw(Model.Product.Description)
</p>

    @if (User.IsInRole(GunNGoneBetter_Utility.PathManager.AdminRole))
    {
        <p>Count: </p>
        <p>
            @if (Model.isInCart)
            {
                <input asp-for="@Model.Product.TempCount" disabled class="form-control"/>
            }
            else 
            {
                <input asp-for="@Model.Product.TempCount" class="form-control"/>
            }
        </p>       
    }

<p>
    <a class="btn btn-primary" asp-action="Index"> Back </a>

    @if (Model.isInCart)
    {
        <a asp-action="RemoveFromCart" asp-route-id="@Model.Product.Id" class="btn btn-warning">
            Remove from cart
        </a>
    }
    else
    {
        <button type="submit" asp-route-id="@Model.Product.Id" class="btn btn-primary"
                asp-action="DetailsPost">
            Add to cart
        </button>
    }

</p>
</form>